<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- base-package= <standard package name> -->
	<context:component-scan
		base-package="com.xworkz.templeregistration"></context:component-scan>

		<bean id="driverManagerDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/frame_work" />
		<property name="username" value="root" />
		<property name="password" value="root" />

	</bean>

	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl"
		id="javaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="savitri.kandgal@gmail.com" />
		<property name="password" value="Savu@123" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
<!-- 	<bean id="driverManagerDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="{dataSource.driverClassName}" />
		<property name="url"
			value="{dataSource.url}" />
		<property name="username" value="${dataSource.username}" />
		<property name="password" value="${dataSource.password}" />

	</bean>-->
	


	<!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" 
		id="propertyPlaceholderConfigurer"> <property name="location" value="classpath:Spring.properties"></property> 
		</bean> -->

<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="localSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource"/>
		<property name="configLocations" value="WEB-INF/classes/hibernate.cfg.xml"></property>
<!-- 
		<property name="annotatedClasses"
			value="com.xworkz.templeregistration.entity.TempleEntity"/> -->
		
</bean>


	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />

	</bean>
	
<!-- 	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver1">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="1"></property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver2">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="1"></property>
	</bean> -->




</beans>